CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/LILYGO_T_DECK/partitions.csv"

# Enable Core Dump to Flash
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
# CONFIG_ESP_COREDUMP_ENABLE_TO_UART=y
CONFIG_ESP_COREDUMP_DECODE=y
CONFIG_ESP_COREDUMP_DATA_FORMAT_ELF=y
CONFIG_ESP_COREDUMP_CHECKSUM_CRC32=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y
CONFIG_APP_RETRIEVE_LEN_ELF_SHA=9

CONFIG_ESP_TASK_WDT_PANIC=n
CONFIG_ESP_TASK_WDT=n

CONFIG_FREERTOS_HZ=1000

CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y

CONFIG_ESP_ENABLE_WOLFSSH=y

CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
